@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

* {
  font-family: 'Comfortaa', sans-serif;
  text-decoration: none;
}

html {
  font-size: 16px;
}

.navigation {
  background-color: hsl(19, 91%, 83%);
  display: flex;
  height: 60px;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
  font-size: 1.25rem;
  position: relative;
  color: hsl(5, 31%, 39%);
}

.nav-menu ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-menu li {
  list-style-type: none;
}

.nav-menu a {
  padding: 0 20px;
}

.icon {
  padding-top: 4px;
}

.hamburger {
  display: none;
}

a:visited {
  color: hsl(5, 31%, 39%);
}

a:hover {
  color: hsl(30, 100%, 97%);
}

@media only screen and (max-width: 768px) {
  .nav-menu ul {
    position: absolute;
    top: 30px;
    left: 0;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 60px);
    background-color: hsl(19, 91%, 83%);
    display: none;
  }
  .nav-menu li {
    text-align: center;
    margin: 20px 0;
  }

  .nav-menu li a {
    width: 100%;
    padding: 1.5rem 2rem;
  }

  .hamburger {
    display: flex;
    cursor: pointer;
    position: absolute;
    right: 20px;
  }

  .nav-menu.expanded ul {
    display: block;
  }
}