@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

* {
  font-family: 'Comfortaa', sans-serif;
  text-decoration: none;
}

html {
  font-size: 16px;
}

.navigation {
  background-color: hsl(19, 91%, 83%);
  justify-content: space-between;
  display: flex;
  height: 60px;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
  font-size: 1.25rem;
  overflow: hidden;
}

.logo {
  color: hsl(5, 31%, 39%);
}

.nav-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-menu a {
  list-style: none;
  padding: 0 20px;
}

.icon {
  padding-top: 4px;
}

.hamburger {
  color: hsl(5, 31%, 39%);
  display: none;
}

a:visited {
  color: hsl(5, 31%, 39%);
}

a:hover {
  color: hsl(30, 100%, 97%);
}

@media only screen and (max-width: 800px) {
  .nav-menu a {
    display: none;
  }
  a.hamburger {
    display: block;
  }

  .nav-menu.responsive {position: relative;}
  .nav-menu.responsive a.hamburger {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav-menu.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}